<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolatey" />
  <package id="adobereader" />
  <package id="battle.net" />
  <package id="ccleaner" />
  <package id="dashlane" />
  <package id="defraggler" />
  <package id="dropbox" />
  <package id="f.lux" />
  <package id="googlechrome" />
  <package id="googledrive" />
  <package id="jre8" />
  <package id="leagueoflegends" />
  <package id="logitechgaming" />
  <package id="sharex" />
  <package id="runescape" />
  <package id="skype" />
  <package id="spotify" />
  <package id="steam" />
  <package id="utorrent" />
  <package id="vlc" />
  <package id="winrar" />
</packages>