"*":
  "atom-beautify":
    _analyticsUserId: "9f24e8fc-8cbe-466c-8ccd-2acf3f2f5104"
  "autoclose-html": {}
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  core:
    audioBeep: false
    openEmptyEditorOnStart: false
    projectHome: "~/repos/personal"
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "monokalis"
    ]
    useCustomTitleBar: true
  editor:
    backUpBeforeSaving: true
    fontSize: 12
    invisibles: {}
    scrollPastEnd: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "15784b65-094e-6842-daeb-6fa8266a9c44"
  "git-plus": {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  "platformio-ide-terminal":
    toggles:
      autoClose: true
  "seti-ui":
    compactView: true
    disableAnimations: true
    fileIcons: false
  "todo-show": {}
  welcome:
    showOnStartup: false
".c.source":
  editor:
    tabLength: 4
".cpp.source":
  editor:
    tabLength: 4
".cson.source":
  editor:
    tabLength: 2
".html.source":
  editor:
    tabLength: 4
".json.source":
  editor:
    tabLength: 2
".lua.source":
  editor:
    tabLength: 4
".source.ts":
  editor:
    tabLength: 4
".source.tsx":
  editor:
    tabLength: 4
".text.todo":
  editor:
    autoIndent: true
