ecpcontactapp:
  title: "ECP Contact App"
  paths: [
    "/Users/rosco/Google Drive/ECP/contactapp/frontend"
  ]
"graphics&gametechnologie":
  title: "Graphics & Game Technologie"
  paths: [
    "/Users/rosco/Google Drive/UvA/2 jaar/4 blok/gametech"
  ]
"skøllplugins":
  title: "Skøll plugins"
  paths: [
    "/Users/rosco/sites/skoll/wp-content/plugins"
  ]
personalsite:
  title: "Personal site"
  paths: [
    "/Users/rosco/Google Drive/rkalis.github.io"
  ]
"kindofcabrio.nl":
  title: "kindofcabrio.nl"
  paths: [
    "/Users/rosco/Google Drive/kindofcabrio"
  ]
dotfiles:
  title: "dotfiles"
  paths: [
    "/Users/rosco/dotfiles"
  ]
