[
  {
    title: "dotfiles"
    group: "personal"
    paths: [
      "~/repos/personal/dotfiles"
    ]
    icon: "icon-gear"
    settings: {}
    devMode: true
    template: null
  }
  {
    title: "monokalis-syntax"
    group: "personal"
    paths: [
      "~/repos/personal/monokalis-syntax"
    ]
    icon: "icon-paintcan"
    settings: {}
    devMode: true
    template: null
  }
  {
    title: "arkapong"
    group: "personal"
    paths: [
      "~/repos/personal/arkapong"
    ]
    icon: "icon-rocket"
    settings: {}
    devMode: true
    template: null
  }
  {
    title: "endless"
    group: "personal"
    paths: [
      "~/repos/personal/endless"
    ]
    icon: "icon-rocket"
    settings: {}
    devMode: true
    template: null
  }
  {
    title: "ionic-soundboard"
    group: "personal"
    paths: [
      "~/repos/personal/ionic-soundboard"
    ]
    icon: "icon-unmute"
    settings: {}
    devMode: true
    template: null
  }
    {
      title: "skollsite"
      group: "skoll"
      paths: [
        "~/repos/skoll/skollsite"
      ]
      icon: "icon-code"
      settings: {}
      devMode: true
      template: null
    }
]
