[
  {
    title: "dotfiles"
    group: "personal"
    paths: [
      "~/repos/personal/dotfiles"
    ]
    icon: "icon-chevron-right"
    settings: {}
    devMode: true
    template: null
  }
  {
    title: "kalis-syntax"
    group: "personal"
    paths: [
      "~/repos/personal/kalis-syntax"
    ]
    icon: "icon-chevron-right"
    settings: {}
    devMode: true
    template: null
  }
]
