/* Custom styles */
@import (reference) "syntax-variables";
atom-text-editor::shadow {
    /* Adds an underline to folded regions */
    .fold-marker {
        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            border-bottom: 1px dashed lighten(@syntax-background-color, 20%);
        }
    }
    .line.cursor-line .fold-marker {
        &::after {
            color: @syntax-text-color;
        }
        &::before {
            border-color: @syntax-text-color;
        }
    }
    .bracket-matcher .region {
        border-bottom: 2px solid yellow;
    }

}
.indent-guide-improved {
    background: @syntax-indent-guide-color;
    &.indent-guide-stack {
        background: @syntax-indent-guide-color;
        &.indent-guide-active {
            background: repeating-linear-gradient(
                to bottom, @syntax-text-color, @syntax-background-color 2px );
        }
    }
}
